bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper